<%- include("template/cabecera", {titulo: 'Panel de Administración' }) %>
    <div class="container">
        <div class="row">
            <div class="col-4"><a class="btn btn-success btn-block my-4" href="/pokemon">Pokemon</a></div>
            <div class="col-4"><a class="btn btn-success btn-block my-4" href="/entrenador">Entrenador</a></div>
        </div>
    </div>
<%- include("template/footer") %>