<%- include("template/cabecera.ejs")%>
<H2><%=titulo %></H2>
<a class="btn btn-success btn-block my-4" href="/pokemon">pokemons</a>
<a class="btn btn-success btn-block my-4" href="/entrenador">entrenador</a>
<%- include("template/footer.ejs")%>
</body>
</html>